@namespace Yagura.Web.Components

<Router AppAssembly="typeof(YaguraWebRoot).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" />
    </Found>
    <NotFound>
        <p>ページが見つかりません。</p>
    </NotFound>
</Router>
